body {
    background-color:#F5F5F5;
    height: 100%;
    transition: background-color 1s;
}

footer {
    text-align: center;
}

h1 {
    color: #0277bd;
    text-align: center;
    transition: color 1s;
}

h2 {
    text-align: center;
    font-style: oblique;
    text-align: center;
}

p {
    text-align: center;
}

#funsies {
    text-decoration: none;
}

form {
    text-align: center; 
    align-content: center;
    margin-bottom: 1em;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#redButton {
    background-color: rgb(197, 45, 45);
}

#blueButton {
    background-color: rgb(2, 119, 189);
}

#yellowButton {
    background-color: rgb(223, 223, 91);
}
#redButton:hover {background-color: #9e3232}
#blueButton:hover {background-color: #3257a5}
#yellowButton:hover {background-color: #b9b138}

#redButton:active {
    background-color: #9e3232;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#blueButton:active {
    background-color: #3257a5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #yellowButton:active {
    background-color: #b9b138;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.hidden {
    opacity: 0;
}
.fadein {
    transition: opacity 1s;
}

#songList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    margin: auto;
}

li {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
    padding: 0;
}

